# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*~

# Mac system files
.AppleDouble
.LSOverride

# Python tools
pip-log.txt
pip-delete-this-directory.txt

# coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
